.manage-users-container {
  width: 80vw;
  height: 80vh;
  margin-top: 5vh;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .manage-users-container {
    width: 100vw;
    height: 75vh;
    max-height: 40rem;
    max-width: 60rem;
  }
}

@media screen and (max-width: 1050px) {
  .manage-users-container {
    width: 70vw;
    height: 75vh;
    max-height: 40rem;
    max-width: 60rem;
  }
}

.manage-users-container
  .MuiDataGrid-virtualScrollerContent
  > .MuiDataGrid-virtualScrollerRenderZone {
  position: absolute !important;
}

.manage-users-container .MuiDataGrid-virtualScroller {
  min-width: fit-content !important;
}
